.info-card{
    &__image{
        width: 370px;
    }
    &__text{
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 27px 0;
        background: rgba(47, 48, 58, 0.8);
        color: var(--clear-white);
        font-family: inherit;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}