.info-text{
    padding: 20px 24px;
    line-height: 36px;
    border: 1px solid var(--dark-white-2);
    text-align: left;
    &__name{
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.03em;
        line-height: 30px;
        color: var(--dark-title);
        margin-bottom: 4px;
    } 
    &__position{  
        font-family: inherit;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.03em;
        color: var(--grey);
        margin: 0;
    }
}