.modal{
    &__close-button{
        width: 30px;
        height: 30px;
        background: var(--clear-white);
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 8px;
        right: 8px;
        cursor: pointer;
    }
    &__title{
        font-family: inherit;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 12px;
    }
}
