.modal-container{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    transition: .5s;
    filter: opacity(1);
    &.is-hidden{
        filter: opacity(0);
        visibility: hidden;
        pointer-events: none;
    }
    &__window{
        width: 450px;
        height: 609px;
        background: var(--clear-white);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 40px;
        max-height: 90vh;
        max-width: 100vw;
        overflow-y: scroll; 
    }
}

@media (min-width: 1200px) {
    .modal-container{
        &__window{
            width: 528px;
            height: 581px; 
        }
    }
}