:root {
    --header-border-color:#ECECEC;
    --blue-color:#2196F3;
    --black:#010101;
    --dark-title: #212121;
    --dark-grey:#2F303A;
    --white:#FEFEFE;
    --grey:#757575;
    --dark-white:#F5F4FA;
    --dark-blue:#188CE8;
    --dark-white-2:#EEEEEE;
    --icon-grey:#AFB1B8;
    --clear-white:#FFFFFF;
  }